body {
  margin: 0;
  padding: 0;
}
header {
  height: 7vh;
}
.logo {
  width: 26vh;
  margin: -10vh 0 0 -3vh;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
  margin-left: 81%;
  right: 25px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: relative;
  top: -128px;
  left: -170%;
  width: 207px;
  height: 116px;
  margin: 0;
  padding: 71px 0;
  list-style: none;
  background-color: white;
  box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
  /* transition-duration: .25s; */
  margin-left: 35%;
  padding-top: 1%;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 600;
  text-decoration: none;
  /* transition-duration: .0s; */
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.moreDetails-image img {
  width: 89vw;
  height: 54vw;
  border-radius: 10px;
  /* margin-left: 6vw; */
  margin-top: 2vw;
}

h1 {
  font-size: 4.7vw;
}
h2 {
  font-size: 3vw;
  margin-top: -3vw;
}

h3 {
  font-size: 3vw;
  /* margin-top: -2.6vh; */
  /* margin-left: 10vw; */
  /* display: flex; */
  position: absolute;
  top: 9.1vh;
  left: 14%;
  display: flex;
  /* flex-direction: row-reverse; */
  /* margin-top: -4vw; */
  /* margin-left: 1vw; */
}
.sharingButtons {
  position: relative;
  top: 12vw;
  left: 4vw;
}

.fa-facebook {
  color: #1877f2;
}

.fa-brands {
  color: black;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-reddit {
  color: #ff4500;
}

.container {
  margin-left: 4vw;
  margin-top: -7vw;
}

.wp-block-image {
  margin-top: -5vw;
  margin-left: 0vw;
}

p {
  line-height: 6vw;
  margin-top: 0vw;
}

.wp-image-35 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.wp-image-35:hover {
  opacity: 0.7;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  background-color: #6979f8;
  gap: 2%;
  display: flex;
  font-size: 15px;
  margin-top: 13vw;
}
.footerLogo {
  width: 25vh;
  margin: -6.5vh 0 0 -38vh;
}

.socialLogos {
  position: relative;
  top: 8vh;
  left: -18vh;
}

@media screen and (min-width: 425px) {
  .sharingButtons {
    position: relative;
    top: 11vw;
    left: 4vw;
  }
  h3 {
    font-size: 3vw;
    /* margin-top: -2.6vh; */
    /* margin-left: 10vw; */
    /* display: flex; */
    position: absolute;
    top: 8.9vh;
    left: 14%;
    display: flex;
    /* flex-direction: row-reverse; */
    /* margin-top: -4vw; */
    /* margin-left: 1vw; */
  }
}

@media screen and (min-width: 768px) {
  .sharingButtons {
    position: relative;
    top: 9vw;
    left: 4vw;
  }

  h3 {
    font-size: 3vw;
    /* margin-top: -2.6vh; */
    /* margin-left: 10vw; */
    /* display: flex; */
    position: absolute;
    top: 7.9vh;
    left: 14%;
    display: flex;
    /* flex-direction: row-reverse; */
    /* margin-top: -4vw; */
    /* margin-left: 1vw; */
  }
  .footer {
    background-color: #6979f8;
    gap: 2%;
    display: flex;
    font-size: 15px;
    margin-top: 13vw;
    width: 73vw;
    padding-left: 35vh;
  }
}

@media screen and (min-width: 1440px) {
  .sharingButtons {
    position: relative;
    top: 9vw;
    left: 4vw;
  }

  h3 {
    font-size: 3vw;
    /* margin-top: -2.6vh; */
    /* margin-left: 10vw; */
    /* display: flex; */
    position: absolute;
    top: 9.9vh;
    left: 14%;
    display: flex;
    /* flex-direction: row-reverse; */
    /* margin-top: -4vw; */
    /* margin-left: 1vw; */
  }
  .container {
    margin-left: 4vw;
    margin-top: -5vw;
  }
  p {
    line-height: 7vw;
    margin-top: 0vw;
    font-size: 2vw;
  }
  .footer {
    background-color: #6979f8;
    gap: 2%;
    display: flex;
    font-size: 15px;
    margin-top: 13vw;
    width: 73vw;
    padding-left: 35vh;
  }
}
